In [16]:
"""Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

Answer is: list """

list = ["raghav",[1,2,3,4],123.33,(9,8,7,6)]

In [12]:
type(list[0])

str

In [13]:
type(list[1])

list

In [14]:
type(list[2])

float

In [15]:
type(list[3])

tuple

In [19]:
""" Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable. """


var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1

In [20]:
type(var1)

str

In [21]:
type(var2)

str

In [22]:
type(var3)

list

In [23]:
type(var4)

int

In [24]:
""" Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **  """

' Q3. Explain the use of the following operators using an example:\n(i) /\n(ii) %\n(iii) //\n(iv) **  '

In [27]:
# use of / : it is a division operator in python .
a = 10/2
a

5.0

In [28]:
# use of % : it is a Moduluso perator that  returns the remainder when the first is divided by the second .
a = 10%2
a

0

In [29]:
# use of // : it is a floor division operator that divider ,it gives least value of  whole number near by  answer.
a = 10//2
a

5

In [30]:
# use of ** : it is use for  Exponential term.
a = 10**2
a
# from above 10 is base value and 2 is power value so that 10^2.

100

In [2]:
""" Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type. """
list = [1,2,3,22.7,3.14,"raghav","Chaudhary",(1,2,3,4),[9,7,5,3],{'disc' : "this is Dictionary"}]

In [3]:
l1 = []
l2 = []
for i in list :
    l1.append(i)
    l2.append(type(i))
l1

[1,
 2,
 3,
 22.7,
 3.14,
 'raghav',
 'Chaudhary',
 (1, 2, 3, 4),
 [9, 7, 5, 3],
 {'disc': 'this is Dictionary'}]

In [4]:
l2

[int, int, int, float, float, str, str, tuple, list, dict]

In [9]:
"""Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible. """


numberA = int(input("Enter NumberA"))
numberB = int(input("Enter NumberB"))
if numberA % numberB ==0 :
    print("number A is purely divisible by number B")
else :
     print("number A is not divisible by number B")

Enter NumberA4
Enter NumberB2
number A is purely divisible by number B

In [14]:
"""Q6.  Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not."""
list =  [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in list :
 if i%3 ==0 :
    print(" divisible by 3")
 else :
    print(" not divisible by 3")

 not divisible by 3
 not divisible by 3
 divisible by 3
 not divisible by 3
 not divisible by 3
 divisible by 3
 not divisible by 3
 not divisible by 3
 divisible by 3
 not divisible by 3
 not divisible by 3
 divisible by 3
 not divisible by 3
 not divisible by 3
 divisible by 3
 not divisible by 3
 not divisible by 3
 divisible by 3
 not divisible by 3
 not divisible by 3
 divisible by 3
 not divisible by 3
 not divisible by 3
 divisible by 3
 not divisible by 3

In [16]:
"""Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property."""

# mutable :it is a data type that can be change over the time . example : list,dictionary
list = [1,2,3,4]
list.append(5)
list

[1, 2, 3, 4, 5]

In [17]:
# immutable :it is a data type that can't be change over the time .example : tuple
tuple = (1,2,3,4)
tuple.append(5)
tuple

AttributeError: 'tuple' object has no attribute 'append'